@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.semi-circle {
  height: 100px;
  width: 200px;
  background: linear-gradient(
    270deg,
    rgba(168, 0, 0, 1) 0%,
    rgba(235, 6, 6, 1) 9%,
    rgba(224, 59, 0, 1) 34%,
    rgba(171, 224, 0, 1) 62%,
    rgba(22, 255, 0, 1) 100%
  );
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
.inner-circle {
  height: 92px;
  width: 184px;
  background: white;
  border-top-left-radius: 184px;
  border-top-right-radius: 184px;
}
.arrow {
  height: 6px;
  width: 50%;
  background: rgb(47, 47, 47);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  transform-origin: bottom right;
  animation: meterMove 1.5s forwards;
}

@keyframes meterMove {
  0% {
    transform: rotate(0);
  }
  /* 100% {
    transform: rotate(30deg);
  } */
}

.card-bg {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.081);
  background: linear-gradient(
    147deg,
    rgba(55, 255, 55, 0.371) 0%,
    rgba(254, 254, 254, 1) 100%
  );
  border: 4px solid white;
}
/* .model {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
} */

  button.aqi-classname {
    position: relative;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    z-index: 3;
    background-color: aquamarine;
  }

  button.aqi-classname::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: 1;
    background: conic-gradient(from var(--gradient-angle),
        #a8ef80,
        #2d8f85,
        #b1c5c6,
        #2d8f85,
        #a8ef80);
    border-radius: inherit;
    animation: rotation 10s linear infinite;
  }

  button.aqi-classname::before {
    content: "";
    height: calc(90% - 8px);
    width: 90%;
    top: 50%;
    /* transform: ; */
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: inherit;
    z-index: 2;
    background-color: white;
  }

  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }

    100% {
      --gradient-angle: 360deg;
    }
  }



}
